<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{data}}
    <hr>
    <table border="1">
        <tr><th>ID</th><th>Name</th><th>Percentage</th></tr>
        
            {% for id,stud in data.items() %}
            <tr>
                <td>{{id}}</td>
                {% for d in stud %}
                <td>{{d}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        
    </table>
</body>
</html>